.menuDiv > div {
    aspect-ratio: 1;
    border-radius: 100%;
    height: 52%;
    background: #15122D 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 70px #FFFFFF29;
    border: calc(0.5 * var(--aspect-ratio)) solid #FFEB00;
    margin: auto;
    display: grid;
    padding-bottom: calc(5 * var(--aspect-ratio));
    padding-top: calc(4 * var(--aspect-ratio));
    margin-top: calc(4 * var(--aspect-ratio));
    margin-left: calc(56 * var(--aspect-ratio));
}
/* **********************hebrew**************** */

#tableDiv {
    position: absolute;
    top: calc( 24 * var(--aspect-ratio));
    left: 21vw;
    /* width: calc(1920/1920*1598 * 0.8px); */
    width: 68vw;
    /* width: calc(var(--aspect-ratio) / 1920 * 0.8 * 1598px); */
    height: calc( 42.2 * var(--aspect-ratio));
    box-shadow: inset 0px 0.4vw 0.6vw #FFE8E829, 0px 5vw 2.1vw #0B1B504D;
    border: 3vw solid #0E0B27;
    border-radius: 20vw;
    opacity: 1;
    display: flex;
    justify-content: center;
}

