@import "./sideButtons.css";
@import "./uiTable.css";
@import "./playerWrapper.css";
@import "./turnActions.css";
@import "./table.css";
@import "./menu.css";
@import "./breakTime.css";
@import "./checkbox.css";
@import "./slider.css";
@import "./sidebet.css";
@import "./history.css";
@import "./game01.css";

:root {
    --aspect-ratio: 0.56vw;
}

.sideButtonsDiv{
    width: 80%;
}
.multiTableButton{
    position: absolute;
    top: calc( 0 * var(--aspect-ratio));
    left: calc( 15 * var(--aspect-ratio));
    width: calc( 12 * var(--aspect-ratio))!important;
}
 .all_left_buttons{
    width: 100%!important;
}

html {
    overflow: hidden;
}
.top_prent_div {
 overflow: hidden;
    width: calc(var(--aspect-ratio) * 1598);
}
.side-bet_div{
    width: calc(30* var(--aspect-ratio)) !important;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/images/loader.gif') 50% 50% no-repeat rgb(249, 249, 249);
    opacity: 0.71;
}

body {
    padding: 0;
    display: flex;
    position: relative;
    width: 100vw;
    height: calc(146 * var(--aspect-ratio));
    background: transparent linear-gradient(90deg, #0A1029 0%, #1E3970 20%, #3261B6 56%, #0A1029 100%) 0% 0% no-repeat padding-box;
    opacity: 0.86;
    font-family: myriad-arabic, sans-serif;
    font-size: calc((1.5 * var(--aspect-ratio)));
    color: #FEFEFE;
    padding: 1vw;
    overflow: overlay;
    /* Preventing marking elements and text */
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

#backButton {
    background: transparent linear-gradient(180deg, #F41B1B 0%, #8D2626 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 3px #FFFFFF45;
    border-radius: calc(0.5 * var(--aspect-ratio));
    border-style: none;
    color: #FFFFFF;
    padding: calc(1 * var(--aspect-ratio));
    padding-left: calc(4 * var(--aspect-ratio));
    padding-right: calc(15 * var(--aspect-ratio));
}

#backButton:hover {
    background: transparent linear-gradient(180deg, #8D2626 0%, #F41B1B 100%) 0% 0% no-repeat padding-box;
}

#backButton img {
    margin-right: calc(10 * var(--aspect-ratio));
    max-height: calc(5 * var(--aspect-ratio));
    min-height: calc(3 * var(--aspect-ratio));
}

/* #totalPot,
#winPot {
    position: absolute;
    top: calc(-13 * var(--aspect-ratio));
    left: 32vw;
} */
#totalPot,
#winPot {
    position: absolute;
    top: calc(-10 * var(--aspect-ratio));
    left: 29vw;
}
/* #totalPot, #winPot {
    position: absolute;
    top: calc(-13 * var(--aspect-ratio));
    left: 27vw;
} */

#backgroundLogo {
    position: absolute;
    object-fit: contain;
    height: calc(17 * var(--aspect-ratio));
    top: calc(38 * var(--aspect-ratio));
    left: 41.5vw;
    opacity: .4;
}

.portrateOnly {
    display: none;
    pointer-events: none;
}

.portrateOnly * {
    pointer-events: none;
}


.waitingList{
    display: grid;
    grid-template-columns: 1fr 4fr ;
    margin: 0px;
    width: 100%;
}
.waitingList button{
    align-items: center;
    margin: 4px 0px;
}

.waitingList button:disabled {
	background-color: grey;
}

/* .waitingList button{
    padding: 0px 21px;
    margin: 2px 0px;
} */
.waitingListSide{
    display: flex;
    margin: 0;
    padding: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sitOutButton {
    position: absolute;
    top: calc( 2.4 * var(--aspect-ratio))!important;
    width: calc( 14 * var(--aspect-ratio))!important;
}
.btn-group{
    width: 100%;
}
#usersDropdown{
    display: none ;
}
.users{
    background-color: #0E0B27;
    border: 1px solid yellow;
    border-radius: 7px;
    width: 70%;
    box-sizing: border-box;
    padding: 2px 4px;
    display: flex;
    flex-direction: column;
    margin-top: 1px;
    height:130px;
}
.innerUser{
    text-align: center;
    margin: 2px 0px;
}
/*
@media (min-aspect-ratio: 1/1) {
    .portrateOnly {
        display: none;
        pointer-events: none;
    }

    .portrateOnly * {
        pointer-events: none;
    }
}

@media (max-aspect-ratio: 1/1) {
    .landscapeOnly {
        display: none;
        pointer-events: none;
    }

    .landscapeOnly * {
        pointer-events: none;
    }
    
    body {
        font-size: 2vw;
        background-color: #0A1029;
    }

    #totalPot {
        left: 25vw;
        top: calc(-6 * var(--aspect-ratio));
    }

    #backgroundLogo {
        top:calc( 40 * var(--aspect-ratio));
        left: 37vw;
    }
}

*/

input {
    background-color: transparent;
    border-style: none;
    color: inherit;
}

/* Hide the arrows on the input */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* New modal css */

:root {
    --aspect-ratio: 0.56vw;
    /* --pos: calc(1598 / (100vw / 100 * 32) / 1920);
    --aspects-ratio: calc(1598px / 1920px); */

}


.modal-dialog {
    max-width: 340px;
}

.error-message {
    margin: 0px;
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100vh;
}

.modal-content {
    background: #15122D 0% 0% no-repeat padding-box;
    color: white;
}

.close {
    color: white;
    opacity: 1;
}

.cancel {
    cursor: pointer;
    background: transparent linear-gradient(0deg, #15122D 0%, #676060 100%) 0% 0% no-repeat padding-box;
}

.ok {
    background: transparent linear-gradient(0deg, #FFEB00 0%, #B2B2B2 100%) 0% 0% no-repeat padding-box;
}

.modal-header {
    /*padding: 0rem;*/
    border-bottom: 1px solid #FFEB00;
}

.modal-footer {
    border-top: 1px solid #FFEB00;
}

.modal-footer button {
    border-style: none;
    border-radius: calc(1 * var(--aspect-ratio));
    color: white;
    box-shadow: 0px 2px 5px #FFFFFF45;
    font-size: medium;
}
/* currency */

.imageFeatures,
.imageFeatures1 {
    display: inline-block;
    
}

.text_div {
    display: block;
    /* Initial display setting */
}

.text_div2 {
    position: absolute;
    /* margin-top: calc(.9* var(--aspect-ratio)) !important; */
    display: flex;
    justify-content: space-evenly;
    background-color: #2B2F5A;
    height: calc(7* var(--aspect-ratio)) !important;
    align-items: center;
    line-height: 1.3;
    width: 100%;
    bottom: 0%;
    right: calc(0* var(--aspect-ratio)) !important;
    width: calc(29.6* var(--aspect-ratio)) !important;
}

#buyInMenu .imageFeatures1 img,
.imageFeatures img {
    width: calc((1.5 * var(--aspect-ratio)));
}

.imageFeatures1 img {
    width: calc((1.5 * var(--aspect-ratio)));
    padding-top: 2px;
}

.smallBlind .imageFeatures1 img,
.bigBlind .imageFeatures1 img,
.money .imageFeatures1 img,
#buyInMenu .imageFeatures1 img {
    margin-top: -3px;
    padding-top: 0;
}
.player_wrapper .money .imageFeatures1 img{
    margin: -1px !important;
    padding-top: 0px !important;
}
#insuranceModal .imageFeatures img{
    width: calc((3 * var(--aspect-ratio)));
}

.side-bet_div .Balance2 .imageFeatures,
.side-bet_div .Balance2 .imageFeatures1 {
    display: flex;
}

#raiseButton {
    width: calc( 19 * var(--aspect-ratio));
    white-space: nowrap;
}


/* --------------- insuranceModal ------------------------*/

.second-top {
    width: calc( 52 * var(--aspect-ratio))!important;
    height: calc( 60 * var(--aspect-ratio))!important;
    border-radius: 9.66px!important;
    background: linear-gradient(89.26deg, #181B3A 22.72%, #262A4E 52.04%, #181B3A 81.87%), linear-gradient(0deg, #D6CC18, #D6CC18);
    border: calc(.2 * var(--aspect-ratio)) solid #D6CC18
}

.Second-mod {
    transition: transform .3s ease-out!important;
    transform: translate(84px, -20px)!important;
}

.main-header {
    border-radius: 10px;
    width: calc( 23.5 * var(--aspect-ratio));
    height: calc( 15 * var(--aspect-ratio));
    background: #0000001A;
}

.border-around {
    /* width: 670px;
    height: 128px; */
    justify-content: center!important;
    flex-direction: column!important;
    align-items: center!important;
    display: flex!important;
    margin-top: calc( -4 * var(--aspect-ratio));
}

.border-p {
    /* width: 417px;
    height: 58px; */
    font-family: Yeseva One;
    font-size: calc( 5.5 * var(--aspect-ratio));
    font-weight: 600;
    text-align: center;
    background: linear-gradient(180deg, #D8B2B2 0%, #FFFFFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: calc( -2 * var(--aspect-ratio)) !important; 

}

.border-p-text {
    /* width: 176px;
    height: 58px; */
    font-family: Yeseva One;
    font-size: calc(4.5 * var(--aspect-ratio));
    font-weight: 600;
    text-align: center;
    background: linear-gradient(180deg, #FFB800 0%, #FFB800 52.6%, #FFFFFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.card-prents {
    /* width: 644.1px;
    height: 186.15px; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_1 {
    width: calc(49 * var(--aspect-ratio));
    height: calc(14 * var(--aspect-ratio));
    margin-top: calc(-1 * var(--aspect-ratio));
    /* / left: 42px; / */
}

.doller_prents {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: calc(2.5 * var(--aspect-ratio)) !important;
}

.pay {
    font-family: Yeseva One;
    font-size: calc(4 * var(--aspect-ratio));
    font-weight: 600;
    text-align: center;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    background-clip: text;
    /* / Apply background to the text only / */
    -webkit-background-clip: text;
    /* / For Safari / */
    color: transparent;

}

.sane {
    font-family: Times New Roman;
    font-size: calc(4 * var(--aspect-ratio));
    font-weight: 600;
    text-align: center;
    background: linear-gradient(180deg, #FFB800 0%, #FFB800 47.92%, #FFFFFF 93.75%), linear-gradient(180deg, #FFB800 0%, #FFB800 50%, #FFFFFF 95.31%);
    background-clip: text;
    /* / Apply background to the text only / */
    -webkit-background-clip: text;
    /* / For Safari / */
    color: transparent;
}

.two_btn {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    gap: 5px !important;
    margin-top: calc(4 * var(--aspect-ratio)) !important;
    padding-left: calc(0 * var(--aspect-ratio)) !important;
    padding-right: calc(0 * var(--aspect-ratio)) !important;
}

.text_btn {
    width: calc(60 * var(--aspect-ratio)) !important;
    height: calc(8 * var(--aspect-ratio)) !important;
    font-family: "Montserrat" ,sans-serif;
    font-size: calc(3.5 * var(--aspect-ratio));
    font-weight: 600;
    color: #FFFFFF;
    border-radius: calc(2 * var(--aspect-ratio));
    border: 0.5px solid #2D9240;
    background: linear-gradient(180deg, #01B320 0%, #0E6F20 100%), linear-gradient(0deg, #2D9240, #2D9240);
    box-shadow: 2px 0px 10px 0px #25883766;
}

.next {
    width: calc(60 * var(--aspect-ratio)) !important;
    height: calc(8 * var(--aspect-ratio)) !important;
    /* / padding: calc(.9  var(--aspect-ratio)) calc(7.5  var(--aspect-ratio)); / */
    border-radius: calc(2 * var(--aspect-ratio));
    background: linear-gradient(0deg, #3D3A3A, #3D3A3A), linear-gradient(180deg, #646363 0%, #3D3A3A 95.83%);
    font-family: "Montserrat" ,sans-serif;
    font-size: calc(3* var(--aspect-ratio));
    font-weight: 600;
    color: #FFFFFF;
    border: 0.5px solid #3D3A3A;
    box-shadow: 2px 0px 10px 0px #515151A8;
}


/* .toast {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    z-index: 9999;
  } */

@keyframes slideIn1 {
    from {
        opacity: 0;
        transform: translate(0%, -0%);
    }
    to {
        opacity: 1;
        transform: translate(50%, 1500%);
    }
}